<table border="0" cellspacing="0" cellpadding="0" width="700">
<tr>
	<td>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td align="left" width="261"><img src="{{SIRKET_LOGO}}" height="45" style="display: block" /></td>
				<td align="left">
					<table border="0" cellspacing="1" cellpadding="1" width="100%">
						<tr>
							<td align="left" style="font-size:16px; font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">{{ADSOYAD}}</td>
						</tr>
						<tr>
							<td align="left" style="font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">{{TITLE}}</td>
						</tr>
						<tr>
							<td style="font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">&nbsp;</td>
						</tr>
						<tr>
							<td>
								<table border="0" cellspacing="1" cellpadding="1" width="100%">
									<tr>
										<td align="left" style="font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">
											{{#js_if "this.SIRKET_TELEFON.length > 4"}}<strong>P:</strong>{{SIRKET_TELEFON}}{{/js_if}}
										</td>
										<td align="left" style="font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">
											{{#js_if "this.EPOSTA.length > 1"}}<strong>E:</strong> {{EPOSTA}}{{/js_if}}
										</td>
									</tr>
									<tr>
										<td align="left" style="font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">
											{{#js_if "this.MOBIL_TELEFON.length > 4"}}<strong>M:</strong>{{MOBIL_TELEFON}}{{/js_if}}
										</td>
										<td align="left" style="font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif; color:#000;">{{DOMAIN}}</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
				<td align="right" width="122"></td>
			</tr>
		</table>
	</td>
</tr>
<tr style="background-color:#b71c1c">
	<td>
		<table border="0" cellspacing="0" cellpadding="0" width="100%">
			<tr>
				<td style="color:#fff; padding:4px; font-size:12px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;">
					{{SIRKET_ADRES}}
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td style="color:#cfcfcf; font-size:11px; font-family: 'Trebuchet MS', 'Lucida Grande', Tahoma, sans-serif;">
		<strong>Disclaimer:<strong> Personal data you share via e-mail are processed and monitored in accordance with the Personal Data Protection Regulation No:6698 (PDPR). These data are used, stored and transferred to our business partners, customers and authorized public institutions and organizations in order to communicate with you, to evaluate your job application and to establish a contract within the scope of finding a job, and to protect our Company and you from cyber threats. You can apply to our Company to use your rights under article 11 of the PDPR.
	</td>
</tr>
</table>